@import 'tailwindcss';

body {
  @apply bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-100 transition-colors duration-300;
}

button {
  @apply transition-colors duration-300;
}

input,
select,
textarea {
  @apply border border-gray-300 dark:border-slate-700 rounded-lg px-4 py-2 bg-white dark:bg-slate-800 text-slate-900 dark:text-slate-100 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-slate-600 rounded;
}
::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-slate-800;
}
